body {
	padding-top: 51px;
	background-color: rgba(67, 79, 91, 1);
	color: rgba(173, 201, 143, 1);
}
@media(min-width:768px) {
	body {
		padding-top: 81px;
	}

	.navbar-fixed-top .navbar-brand {
		padding: 15px 0;
	}
}

.navbar {
	border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;
	min-height: 50px;
	margin-bottom: 0px;
	z-index: 200;
}
.navbar-inverse {
	background-color: rgb(123, 131, 144);
	border-color: rgb(175, 183, 185);
}

.navbar-inverse .navbar-nav>li>a {
	color: rgba(52, 59, 25, 1);
}

.required {
	color: rgba(144, 36, 40, 1);
}

.login-btn {
	padding-bottom: 20px;
}

.modal {
	color: rgba(67, 79, 91, 1);
}

/*-- MAP STUFF --*/
.view-content {
	width: 80%;
	margin: 0 auto;
	padding: 0 25px;
}

.angular-google-map-container {
	height: 550px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2.5%;
	border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-o-border-radius: 0 0 6px 6px;
}

.main-logo {
	width: 150px;
	height: 150px;
	background: url(../imgs/main-logo.png) center no-repeat;
	background-size: 100%;
	background-color: white;
	border: 1px solid #ccc;
	margin: 0 auto;
	margin-top: -75px;
	box-shadow: 0 -5px 10px -5px rgba(0,0,0,.5);
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	-o-border-radius: 75px;
}


